/* project-section */
.project-section .section-heading {
    text-align: center;
    margin-bottom: 30px;
}

.project-section .two-colum-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--spacing-p2);
}

.project-section .two-colum-wrapper .two-colum-content {
    flex: 1;
    padding: 40px 0 40px;
}

.project-section .two-colum-content .sub-heaidng {
    text-align: center;
}
.project-section .para-rtl{
    text-align: center;
}
/* project-log-section */
.project-log-section .project-log-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.project-log-section .project-log-wrapper .project-item{
    max-width: 50%;
    width: 100%;
    padding: var(--spacing-p1) 0 0 var(--spacing-p1);
}
.project-log-section .project-log-wrapper .project-item:nth-of-type(2n+1){
    padding-left: 0;
}
.project-log-section .project-log-wrapper .project-main-item{
    background-color: var(--card-bg);
    padding: var(--spacing-p1);
}
.project-log-section .project-log-wrapper .project-icon{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width:768px) {
    .project-section .two-colum-image-wrapper {
        max-width: 400px;
        margin: 0 auto;
        padding-left: 0;
    }

    .project-section .two-colum-wrapper .two-colum-content {
        padding: var(--spacing-p3) 0 0;

    }
    .project-log-section .project-log-wrapper .project-item{
        max-width: 100%;
        width: 100%;
        padding: var(--spacing-p1) 0 0 var(--spacing-p1);
    }
    .project-log-section .project-log-wrapper .project-item:nth-of-type(2n+1){
        padding-left: 0;
    }
    .project-log-section .project-log-wrapper .project-item{
        padding-left: 0;
    }
    .project-section .left-pt{
        padding-left: 0;
    }
}